
.pedro{
    margin-top: 20%;
    margin-left: 25%;
}

.galeria{
width: 200px;
height: 100px;
float: inherit;
}


    .p1 {
        
        width: 500px;
    height: 300px;
    
    margin-left: 10%;
        
        }

       