

  body{

    margin-top: 10%;
  }

  div{
    width:400px;
    padding:16px;
    border-radius:50px;
        margin:auto;
    background-color:rgb(247, 232, 232);
    border-color: #000;
    border: 40px;
  }

  div h1{

  
  
  margin-left: 30%;
  }

  div label{
    margin-left: 30%;
    width:250px;
    font-weight:bold;
    display:inline-block;
  }
  
  div input
  {
    
    width:300px;
    padding:3px 10px;
    border:1px solid #f6f6f6;
    border-radius:3px;
    background-color:#f6f6f6;
    margin:8px 0;
    display:inline-block;
    margin-left:12%;
  }
  
    

  input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
  }


  div select
  {
    width:320px;
    padding:3px 10px;
    border:1px solid #f6f6f6;
    border-radius:3px;
    background-color:#f6f6f6;
    margin:8px 0;
    display:inline-block;
    margin-bottom: 5px;
    
    
  }
     
 
  
  
.posicion{


  position: absolute;
  margin-top: 20px;
  margin-left: 420px;

}



  
  div button{
    width:30%;
    padding:8px 16px;
    margin-top:32px;
    margin-left:35%;
    border:1px solid #000;
    border-radius:5px;
    display:block;
    color:#fff;
    background-color:#000;
    border-radius:50px;
  } 
  
 


  


  div button:hover{
    cursor:pointer;
  }